{% extends 'base.html.twig' %}

{% block title %}Add Vehicle Repair{% endblock %}

{% block menuTitle %}Edit Vehicle Repair{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container-fluid px-4">
        <div class="row my-5">
            <div class="alert alert-warning alert-dismissible  fade show d-flex align-items-center rounded-pill col-md-5" role="alert" data-tor="show:[rotateX.from(90deg) @--tor-translateZ(-5rem; 0rem) pull.down(full)] slow">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div>
                    In order to choose a vehicle model, you must first select a vehicle brand!
                </div>
                <button type="button" class="btn-close text-center" data-bs-dismiss="alert" aria-hidden="true" aria-label="Close"></button>
            </div>
            <form action="" method="post" id="carForm">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="firstname">Customer First name</label>
                            <input type="text" id="firstname" name="firstname" value="{{ vehicleInfo.getCustomer.firstname }}" class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="lastname">Customer Last name</label>
                            <input type="text" id="lastname" name="lastname" value="{{ vehicleInfo.getCustomer.surname }}" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Tel input -->
                    <div class="col-md-6">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="phoneNumber">Customer's Phone</label>
                            <input type="tel" id="phoneNumber" name="phoneNumber" value="{{ vehicleInfo.getCustomer.phoneNumber }}" class="form-control" />
                        </div>
                    </div>
                    <!-- Tel input -->
                    <div class="col-md-6">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form6Example6">Status</label>
                            <select class="form-select" name="status" aria-label="Default select example">
                                <option>{{ vehicleInfo.status }}</option>
                                {% for status in vehicleStatus %}
                                    <option value="{{ status }}">{{ status }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>


                <!-- Text input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="address">Customer's Address</label>
                    <input type="text" id="address" name="address" value="{{ vehicleInfo.getCustomer.address }}" class="form-control" />
                </div>

                <!-- Message input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="vehicleProblem">Vehicle Problem</label>
                    <textarea class="form-control" id="vehicleProblem"  name="vehicleProblem" rows="2">{{ vehicleInfo.vehicleProblem }}</textarea>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_need">Please Choose Brand</label>
                            <select id="car_brand" name="brand" class="form-control" required="required" data-error="Please specify your need.">
                                <option>{{ vehicleInfo.vehicleBrand }}</option>
                                {% for key,value in brands %}
                                    <option value="{{ value.id }}">{{ value.name }}</option>
                                {% endfor %}
                            </select>
                            <input id="brandName" name="brandName" value="" hidden />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_need">Please Choose Model</label>
                            <select id="car_model" name="model" class="form-control" required="required" data-error="Please specify your need.">
                                <option>{{ vehicleInfo.vehicleModel }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_need">Please Choose Expert</label>
                            <select id="form_need" name="expert" class="form-control" required="required" data-error="Please specify your need.">
                                <option>{{ vehicleInfo.expert }}</option>
                                {% for expert in experts %}
                                    <option value="{{ expert }}">{{ expert }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_need">Repair Date</label>
                            <input id="dateTimePicker" name="repairDate" value="{{ vehicleInfo.repairDate | date ('d M Y h:i') }}" class="form-control" />
                        </div>
                    </div>
                </div>


                <!-- Submit button -->
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-block mb-4 ">Save</button>
                </div>

            </form>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock %}



